

-- MS-SQL에서 데이터 넣을것들


select count(*) 내용증명발송리스트 from dbo.[내용증명발송리스트] 
select count(*) 등기업무일지 from  dbo.[등기업무일지]
select count(*) 등기업무일지특이사항 from dbo.[등기업무일지특이사항]
--dbo.[문자발송내역]
select count(*) 사건입금리스트 from dbo.[사건입금리스트]
select count(*) 외근업무일지 from dbo.[외근업무일지]
--dbo.[외근업무일지마감]
select count(*) 우편발송리스트 from dbo.[우편발송리스트]
select count(*) 의뢰내역특이사항 from dbo.[의뢰내역특이사항]
select count(*) 의뢰사건 from dbo.[의뢰사건]
--dbo.[의뢰사건삭제요청건]
select count(*) 입금내역 from dbo.[입금내역]
select count(*) 입금처리내역 from dbo.[입금처리내역]






select count(*)  제휴사관리 from dbo.[제휴사관리]
select count(*) 제휴사담당자 from dbo.[제휴사담당자]
select count(*) 제휴사입금내역요청 from dbo.[제휴사입금내역요청]
select count(*) 제휴사입금리스트 from dbo.[제휴사입금리스트]
select count(*) 제휴사특이사항 from dbo.[제휴사특이사항]
select count(*) 직원관리 from dbo.[직원관리]




select count(*) 채권사정보 from dbo.[채권사정보]
select count(*) 채권사진행내역 from dbo.[채권사진행내역]
select count(*) 채권사특이사항 from dbo.[채권사특이사항]

